header {
    padding-top: 25px;
    background-color: #212529;
    color: #838588;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    .logo{
        margin-top: 5px;
        font-weight: 500;
        font-size: 32px;
        color: #57d75b;
    }
    .nav__button{
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: #4fc553da;
        border-radius: 10px;
        padding: 10px;
        margin-left: -55px;
        width: 150px;
        span{
            padding-top: 10px;
            color: var(--bg-color-dark);
            font-weight: 600;
            font-size: 16px;
        }
    }
    .nav__button:hover{
        background-color: #4fc553bd;
    }
    .nav__list{
        display: flex;
        column-gap: 40px;
        font-weight: 600;
        font-size: 13px;
        padding-top: 10px;
        .nav__item{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            svg{
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}

@media (max-width: 412px){
    .header__nav{
        display: grid;
        row-gap: 15px;
        justify-content: stretch;
        padding-bottom: 15px;
        .nav__button{
            display: none;
        }
        .logo{
            margin-top: 0px;
        }
    }
    .nav__list{
        opacity: 1;
        position: absolute;
        top: 30px;
        left: 185px;
        .nav__item{
            font-size: 0px;
        }
    }
}