footer{
    padding-top: 15px;
    background-color: #212529;
    color: #838588;
    padding-bottom: 15px;
    width: 100%;
}

.footer__content{
    display: flex;
    justify-content: space-between;
}

.footer__content h1{
    font-size: 20px;
    font-weight: 600;
}

.social__network__icons a{
    padding-right: 5px;
}

.social__network__icons a:hover{
    color: #838588;
}