@import "Reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --bg-color-dark: #1f1f1f;
    --bg-color-light: #f1f1f1;
    --main-grey-color: #838588;
    --corporate-green: #57d75b;
    --block-border-color: #262A2E;
    --block-bg-color: #212529;
  }

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color-dark);
}

.hide{
    display: none;
}

span{
    color: #41474d;
}

a{
    color: var(--main-grey-color);
}

p{
    color: var(--main-grey-color);
}

a:hover{
    cursor: pointer;
    color: var(--corporate-green);
}

.container{
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--main-grey-color) #212529;
}
*::-webkit-scrollbar {
    height: 15px;
    width: 15px;
}
*::-webkit-scrollbar-track {
    background: #30353a;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--main-grey-color);
    border: #30353a solid 2px;
}

main{
    min-height: 750px;
}

/*------Nav------*/

.search{
    width: 400px;
    display: flex;
    align-items: center;
    border: solid var(--block-border-color) 1px;
    border-radius: 10px;
    padding: 4px 10px;
    background: var(--bg-color-dark);
    padding-right: 60px;
}

.search:focus{
    border: solid var(--main-grey-color) 1px;
    transition: 0.4s;
}

.search:hover{
    border: solid var(--main-grey-color) 1px;
    transition: 0.4s;
}

.nav-item:hover{
    color: var(--corporate-green);
}

.nav-link:hover{
    color: var(--corporate-green);
}

.nav-item-count{
    position: absolute;
    border: solid var(--corporate-green) 1px;
    background-color: var(--corporate-green);
    border-radius: 20px;
    size: 10px;
    line-height: 13px;
    min-width: 13px;
    padding: 0 5px;
    text-align: center;
    font-weight: 500;
    margin: -6px 7px;
    color: var(--main-grey-color);
}

.nav-item-icon{
    margin-right: 8px;
}

.search-markX__icon{
    position: absolute;
    margin: -30px 350px;
}

.search-icon{
    position: absolute;
    margin: -30px 370px;
}

.nav-link{
    color: var(--main-grey-color);
}

.modal{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.modal.active{
    transform: scale(1);
}

.modal-content{
    color: var(--bg-color-light);
    padding: 30px;
    border-radius: 15px;
    background-color: #212529;
    border: solid #262A2E 1px;
    height: 250px;
    width: 400px;
}

.modal-content h2{
    font-size: 20px;
}

.modal-content input{
    border-bottom: solid var(--main-grey-color) 1px;
    width: 100%;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
}

.modal-content button{
    margin-top: 20px;
}

.green__button{
    font-weight: 500;
    font-size: 20px;
    border: solid var(--corporate-green) 1px;
    border-radius: 5px;
    background: var(--corporate-green);
    width: 100%;
    height: 45px;
}

.green__button:hover{
    border: solid #4fc553 1px;
    background: #4fc553;
}

/*----homepage----*/

.mainpage-top-grid{
    margin-top: 26px;
    margin-bottom: 26px;
    display: grid;
    grid-template-columns: 23% 77%;
    grid-column-gap: 30px;
}

.mainpage-category-menu{
    display: grid;
    padding: 15px;
    min-height: 50px;
    max-height: 470px;
    background: #212529;
    border: solid var(--block-border-color) 1px;
    border-radius: 10px;
}

.title{
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 15px;
    color: #676767;
}

.carousel{
    cursor: grab;
    overflow: hidden;
}

.category-menu-item{
    align-items: center;
    display: flex;
    margin: 0 -1px;
    max-height: 100px;
    height: 44px;
    padding: 0 15px;
    border-left: solid #676767 0.1px;
    width: calc(100% + 2px);
}

.category-menu-item:hover{
    border-left: solid #57d75b 0.1px;
    transform: translateX(5px);
    transition: 0.4s;
    font-size: 17px;
}

.mainpage-category-menu h1{
    margin: 0 -1px 10px;
    font-size: 24px;
    color: #57d75b;
}

.category-menu-item a:hover{
    color: #f1f1f1;
    cursor: pointer;
}

.mainpage-configurator-grid{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
}

.mainpage-configurator{
    display: grid;
    padding: 0;
    max-height: 470px;
    max-width: 872px;
    background: #212529;
    border: solid #262A2E 1px;
    border-radius: 15px;
}

.mainpage-configurator img{
    height: 468px;
    width: 872px;
    border-radius: 10px;
}

.mainpage-bot-flex{
    margin-bottom: 26px;
    display: flex;
}

.mainpage-bot-block-left{
    background: #212529;
    border: solid #262A2E 1px;
    border-radius: 15px;
    height: 300px;
    min-width: 210px;
    padding: 30px;
    text-align: center;
    font-size: 18px;
    margin-right: 30px;
}

.mainpage-bot-block-left img{
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    pointer-events: none;
}

.mainpage-bot-block-center{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    background: #212529;
    border: solid #262A2E 1px;
    height: 200px;
    border-radius: 15px;
    padding: 30px;
    align-content: center;
}

.mainpage-bot-block-center ul{
    display: flex;
    justify-content: space-between;
    color: #57d75b;
}

.mainpage-bot-block-right{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    background: #212529;
    height: 200px;
    border: solid #262A2E 1px;
    border-radius: 15px;
    padding: 30px;
    align-content: center;
}

.mainpage-bot-block-right a{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    border: solid #57d75b 1px;
    border-radius: 5px;
    color: #57d75b;
}

.mainpage-bot-block-right a:hover{
    border: solid #57d75b 1px;
    background-color: #57d75b;
    color: #262A2E;
}

.mainpage-bot-block-left h2{
    font-size: 22px;
    color: #57d75b;
}

/*      Cart       */

.empty-cart{
    display: flex;
    flex-flow: column;
    padding: 30px;
    background: #212529;
    border: solid #262A2E 1px;
    border-radius: 15px;
    width: 100%;
}

.cart-content h3{
    color: #838588;
    font-size: 18px;
}

.cart{
    display: flex;
    margin-top: 26px;
    margin-bottom: 26px;
    justify-content: space-between;
}

.cart-content-main-block{
    display: flex;
    flex-flow: column;
    width: 75%;
}

.cart-content-side-block{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 25%;
    min-height: 260px;
    max-height: 300px;
    background: #212529;
    border: solid #262A2E 1px;
    border-radius: 15px;
    padding: 15px;
    color: #838588;
}

.cart-content-side-block h3{
    font-size: 20px;
}

.cart-content-side-block a{
    display: flex;
    justify-content: center;
    color: #f1f1f1;
    background-color: #57d75b;
    border-radius: 10px;
    border: solid #57d75b 10px;
    font-size: 20px;
}

.cart-content-side-block a:hover{
    cursor: pointer;
}

.order-details{
    display: flex;
    flex-flow: column;
}

.order-details-item{
    display: flex;
    justify-content: space-between;
}

.order-details-item p{
    font-size: 18px;
}

.sum p{
    font-size: 20px;
}

.cart-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #212529;
    border: solid #262A2E 1px;
    border-radius: 15px;
    margin-right: 30px;
}

.cart-title h1{
    color: #57d75b;
    font-size: 20px;
}

.cart-title span{
    color: #57d75b;
}

.cart-item__img{
    width: 140px;
}

.cart-item__title{
    font-size: 22px;
    color: #838588;
    display: flex;
    flex-direction: column;
}

.cart-item__title span{
    font-size: 16px;
}

.cart-item__title a:hover{
    color: #838588;
}

.cart-item__title span:hover{
    cursor: pointer;
}

.cart-item__price{
    font-size: 20px;
    color: #838588;
}

.cart-item__checkbox{
    align-self: center;
    color: #f1f1f1;
}

.cart-item{
    margin-top: 30px;
    align-items: center;
    padding: 30px;
    background: #212529;
    border: solid #262A2E 1px;
    border-radius: 15px;
    margin-right: 30px;
    height:200px;
}

.cart-item-content{
    display: flex;
    justify-content: space-between;
}

.autorization-button{
    margin-top: 15px;
    padding: 7px;
    color: #212529;
    font-weight: 600;
    background-color: #f1f1f1;
    border: solid #f1f1f1 3px;
    border-radius: 10px;
}

.autorization-button:hover{
    background-color: #dddddd;
    border: solid #dddddd 3px;
}

/*    Categoties    */

.category-grid{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 30px;
    margin-bottom: 30px;
}

.category__header{
    align-items: center;
    padding: 30px;
    border-bottom: solid #262A2E 2px;
    height:100%;
    color: #57d75b;
    font-size: 22px;
}

.category-filters-sidebar{
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: -20px;
    align-items: center;
    padding: 30px;
    background: #212529;
    border: solid #262A2E 1px;
    border-radius: 15px;
    height: 390px;
}

.category-content__item{
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    padding: 30px;
    background: #212529;
    border: solid #262A2E 1px;
    border-radius: 15px;
    width: 97%;
    height: 180px;
}

.category-content__item:hover{
    transform: translate(5px);
    transition: 0.3s;
}

.category-content__item img{
    width: 130px;
}

.category-content__item__button{
    color: #57d75b;
    border: solid #57d75b 1px;
    border-radius: 10px;
    height: 50px;
    width: 120px;
    text-align: center;
    padding-top: 10px;
}

.category-content__item__button:hover{
    color: #1F1F1F;
    border: solid #57d75b 1px;
    background: #57d75b;
}

.category-content__buy__block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-content__buy__block p{
    font-size: 18px;
    padding-bottom: 15px;
}

.category-sort summary{
    color: var(--corporate-green);
    font-size: 18px;
}

.category-filters{
    margin-top: 30px;
    text-align: center;
}

.category-filters a{
    margin-left: 10px;
}

details summary::-webkit-details-marker {
    display: none
}
  /* Убираем стандартный маркер Firefox */
details > summary {
    list-style: none;
}

/*    Pagination    */

.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.pagination li{
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    width: 45px;
    text-align: center;
}

.pagination li:hover{
    background-color: #212529;
    border-radius: 5px;
    /*transform: translateY(-5px);
    transition: 0.5s;*/
}

.pagination a{
    width: 50px;
    height: 50px;
}

.pagination a:hover{
    color: #838588;
    cursor: pointer;
}

.selected{
    border: #57d75b solid 1px;
    border-radius: 5px;
}

.develop{
    margin-top: 30px;
    color: var(--corporate-green);
    font-size: 68px;
    font-weight: 600;
    text-align: center;
}

.active{
    color: var(--corporate-green);
}

footer{
    padding-top: 15px;
    background-color: #212529;
    color: #838588;
    padding-bottom: 15px;
    width: 100%;
}

.footer__content{
    display: flex;
    justify-content: space-between;
}

.footer__content h1{
    font-size: 20px;
    font-weight: 600;
}

.social__network__icons a{
    padding-right: 5px;
}

.social__network__icons a:hover{
    color: #838588;
}

.category-menu-header{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 5px;
}

.menu-btn {
    transform: scale(0);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    position: relative;
    margin-top: 5px;
  }
  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #fff;
  }
  .menu-btn span::before,
  .menu-btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
  }
.menu-btn span::before {
    transform: translateY(-6px);
  }
.menu-btn span::after {
    transform: translateY(6px);
  }

.menu-btn_active span{
    background-color: transparent;
}
  
.menu-btn_active span:before {
    transform: rotate(-45deg);
    width: 20px;
  }
.menu-btn_active span:after {
    transform: rotate(45deg);
    width: 20px;
}

@media (min-width: 834px) and (max-width: 1228px) {
    .mainpage-top-grid 
    {
        grid-template-columns: 24% 71%;
        margin-right: -25px;
    }
    .mainpage-bot-flex{
        margin-right: 30px;
    }
}

@media (max-width: 412px){
    .mainpage-top-grid 
    {
        grid-template-columns: 0;
        display: flex;
        flex-direction: column;
    }
    .mainpage-configurator img {
        height: 228px;
        width: 448px;
    }
    .mainpage-category-menu {
        margin-bottom: 30px;
    }
    .search {
        width: 100%;
    }
    .footer__content{
        display: grid;
    }
    .menu-btn{
        transform: scale(1);
    }
    /*.search-markX__icon{
        margin: -42px 295px;
        height: 50px;
        width: 20px;
    }
    .search-icon {
        margin: -42px 320px;
        height: 50px;
        width: 20px;
    }*/
}
